.boxes {
  display: flex;
  flex-wrap: wrap;
}


.top {
  box-shadow: 0 -5px 5px -5px #333, 0 5px 5px -5px #333,  5px 0 5px -5px #333,-5px 0 5px -5px #333;
}

.right {
  box-shadow: 5px 0 5px -5px #333;
}

.bottom {
  box-shadow: 0 5px 5px -5px #333;
}

.left {
  box-shadow: -5px 0 5px -5px #333;
}

.left-right {
  box-shadow: -5px 0 5px -5px #333, 5px 0 5px -5px #333;
}

.top-bottom {
  box-shadow: 0 -5px 5px -5px #333, 0 5px 5px -5px #333;
}

.top-right {
  box-shadow: 5px -5px 5px 0px #333;
}

.bottom-left {
  box-shadow: -5px 5px 5px 0px #333;
}

.all {
  box-shadow: 0 0 5px #333;
}

.inset {
  box-shadow: inset 0 0 20px #333;
}

.multiple {
  box-shadow: 
    0 0 0 2px #000,
    0 0 0 3px #999,
    0 0 0 9px #fa0,
    0 0 0 10px #666,
    0 0 0 16px #fd0,
    0 0 0 18px #000;
}
